Repository GerritCodeReview/zuul_jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: test-ensure-bazelisk, test-ensure-java, test-install-build-essential, test-gerrit-setup, test-gerrit-plugin-build, test-gerrit-build-master, test-gerrit-build-stable-3.3, test-gerrit-build-stable-3.2, test-gerrit-build-stable-3.1, test-gerrit-build-stable-3.0, test-gerrit-build-stable-2.16

zuul.d/test-jobs.yaml:

# Jobs used for testing roles in this repository

- job:
    name: test-ensure-bazelisk
    run: playbooks/test-ensure-bazelisk.yaml
    files:
      - roles/ensure-bazelisk/.*
      - playbooks/test-ensure-bazelisk.yaml

- job:
    name: test-ensure-java
    run: playbooks/test-ensure-java.yaml
    files:
      - roles/ensure-java/.*
      - playbooks/test-ensure-java.yaml

- job:
    name: test-install-build-essential
    run: playbooks/test-install-build-essential.yaml
    files:
      - roles/install-build-essential/.*
      - playbooks/test-install-build-essential.yaml

- job:
    name: test-gerrit-setup
    parent: gerrit-setup
    run: playbooks/test-gerrit-setup.yaml
    required-projects:
      - jgit
      - plugins/codemirror-editor
      - plugins/commit-message-length-validator
      - plugins/delete-project
      - plugins/download-commands
      - plugins/gitiles
      - plugins/hooks
      - plugins/plugin-manager
      - plugins/replication
      - plugins/reviewnotes
      - plugins/singleusergroup
      - plugins/webhooks
      - polymer-bridges
    files:
      - roles/ensure-bazelisk/.*
      - roles/ensure-java/.*
      - roles/prepare-gerrit-repos/.*
      - roles/install-build-essential/.*
      - playbooks/test-gerrit-setup.yaml

- job:
    name: test-gerrit-plugin-build
    parent: gerrit-plugin-build
    required-projects:
      - plugins/gitiles
    vars:
      gerrit_plugin: gitiles
    files:
      - roles/ensure-bazelisk/.*
      - roles/prepare-gerrit-repos/.*
      - roles/copy-plugin-deps/.*
      - playbooks/gerrit-plugin/build.yaml

- job:
    name: test-gerrit-build-master
    parent: gerrit-build
    files:
      - roles/ensure-bazelisk/.*
      - roles/prepare-gerrit-repos/.*
      - roles/copy-plugin-deps/.*
      - playbooks/gerrit/.*

- job:
    name: test-gerrit-build-stable-3.3
    parent: test-gerrit-build-master
    override-checkout: stable-3.3

- job:
    name: test-gerrit-build-stable-3.2
    parent: test-gerrit-build-master
    override-checkout: stable-3.2

- job:
    name: test-gerrit-build-stable-3.1
    parent: test-gerrit-build-master
    override-checkout: stable-3.1

- job:
    name: test-gerrit-build-stable-3.0
    parent: test-gerrit-build-master
    override-checkout: stable-3.0

- job:
    name: test-gerrit-build-stable-2.16
    parent: test-gerrit-build-master
    override-checkout: stable-2.16

Update check zuul-check:zuul_jobs
  2b21463c17ed82a6c12874608ae66caca22e9e3f
Due: none

Consume ensure-bazelisk role from upstream zuul
  roles/ensure-bazelisk/README.rst
  roles/ensure-bazelisk/defaults/main.yaml
  roles/ensure-bazelisk/tasks/main.yaml
  zuul.d/project.yaml
  zuul.d/test-jobs.yaml
Due: test-ensure-bazelisk, test-gerrit-setup, test-gerrit-plugin-build, test-gerrit-build-master, test-gerrit-build-stable-3.3, test-gerrit-build-stable-3.2, test-gerrit-build-stable-3.1, test-gerrit-build-stable-3.0, test-gerrit-build-stable-2.16

Insert check zuul-check:zuul_jobs
  976be827b460c7d849a9af84969ac0b10c19dcde
Due: none

Update check zuul-check:zuul_jobs
  976be827b460c7d849a9af84969ac0b10c19dcde
Due: none

Insert check zuul-check:zuul_jobs
  4d8262ffd5f8a153c2467f5008e6aba364890b14
Due: none

Update check zuul-check:zuul_jobs
  4d8262ffd5f8a153c2467f5008e6aba364890b14
Due: none

Add jobs for stable-3.9
  zuul.d/project.yaml
  zuul.d/test-jobs.yaml
Due: none

Insert check zuul-check:zuul_jobs
  3a5da969ae05651b2156b7bb0c0d7455398e06e9
Due: none

Update check zuul-check:zuul_jobs
  3a5da969ae05651b2156b7bb0c0d7455398e06e9
Due: none

prepare-gerrit-repos: Add the other non-plugin submodules
  roles/prepare-gerrit-repos/defaults/main.yaml
Due: test-gerrit-setup, test-gerrit-plugin-build, test-gerrit-build-master, test-gerrit-build-stable-3.3, test-gerrit-build-stable-3.2, test-gerrit-build-stable-3.1, test-gerrit-build-stable-3.0, test-gerrit-build-stable-2.16

Insert check zuul-check:zuul_jobs
  ba81ac86a0871176a4f3e025f538fea62d53102b
Due: none

Update check zuul-check:zuul_jobs
  ba81ac86a0871176a4f3e025f538fea62d53102b
Due: none

prepare-gerrit-repos: Add the other non-plugin submodules
  playbooks/test-gerrit-setup.yaml
  roles/prepare-gerrit-repos/defaults/main.yaml
  zuul.d/test-jobs.yaml
Due: test-gerrit-setup, test-gerrit-plugin-build, test-gerrit-build-master, test-gerrit-build-stable-3.3, test-gerrit-build-stable-3.2, test-gerrit-build-stable-3.1, test-gerrit-build-stable-3.0, test-gerrit-build-stable-2.16

Add test job for stable-3.9
  zuul.d/project.yaml
  zuul.d/test-jobs.yaml
Due: none

Insert check zuul-check:zuul_jobs
  f783dedb2f2220695181c673ca38b72aa08e383f
Due: none
