Repository GerritCodeReview/zuul_jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: test-ensure-bazelisk, test-install-build-essential, test-gerrit-setup, test-gerrit-plugin-build, test-gerrit-build-master, test-gerrit-build-stable-3.10, test-gerrit-build-stable-3.11, test-gerrit-build-stable-3.12, test-gitiles-build-master

test-ensure-bazelisk:
  run: playbooks/test-ensure-bazelisk.yaml

test-install-build-essential:
  run: playbooks/test-install-build-essential.yaml

test-gerrit-setup:
  parent: gerrit-setup
  run: playbooks/test-gerrit-setup.yaml
  required-projects:
  - java-prettify
  - jgit
  - plugins/codemirror-editor
  - plugins/commit-message-length-validator
  - plugins/delete-project
  - plugins/download-commands
  - plugins/gitiles
  - plugins/hooks
  - plugins/plugin-manager
  ...

test-gerrit-plugin-build:
  parent: gerrit-plugin-build
  required-projects:
  - plugins/gitiles
  vars:
    gerrit_plugin: gitiles

test-gerrit-build-master:
  parent: gerrit-build

test-gerrit-build-stable-3.10:
  parent: test-gerrit-build-master
  override-checkout: stable-3.10

test-gerrit-build-stable-3.11:
  parent: test-gerrit-build-master
  override-checkout: stable-3.11

test-gerrit-build-stable-3.12:
  parent: test-gerrit-build-master
  override-checkout: stable-3.12

test-gitiles-build-master:
  parent: gitiles-build

Insert check zuul-check:zuul_jobs
  9731fa7f07fb9a35b9a1aa2ef8e9a34412d26688
Due: none

Update check zuul-check:zuul_jobs
  9731fa7f07fb9a35b9a1aa2ef8e9a34412d26688
Due: none

copy-plugin-deps: Copy Bazel dependency files from plugins
  roles/copy-plugin-deps/README.rst
  roles/copy-plugin-deps/tasks/main.yaml
Due: test-gerrit-plugin-build, test-gerrit-build-master, test-gerrit-build-stable-3.10, test-gerrit-build-stable-3.11, test-gerrit-build-stable-3.12

Insert check zuul-check:zuul_jobs
  7b80bcbe80d79b47b1054b2b8e06c8f93dc8e8b8
Due: none

Update check zuul-check:zuul_jobs
  7b80bcbe80d79b47b1054b2b8e06c8f93dc8e8b8
Due: none

Bump bazelisk version to v1.28.1
  roles/ensure-bazelisk/README.rst
  roles/ensure-bazelisk/defaults/main.yaml
Due: test-ensure-bazelisk, test-gerrit-setup, test-gerrit-plugin-build, test-gerrit-build-master, test-gerrit-build-stable-3.10, test-gerrit-build-stable-3.11, test-gerrit-build-stable-3.12

Insert check zuul-check:zuul_jobs
  a7b2f5a0418afe6b74cd7629f064227e06111846
Due: none

Insert check zuul-check:zuul_jobs
  5b9610f802e625bf2d601b1f1fdf80b95b4dce06
Due: none

Update check zuul-check:zuul_jobs
  a7b2f5a0418afe6b74cd7629f064227e06111846
Due: none

Update check zuul-check:zuul_jobs
  5b9610f802e625bf2d601b1f1fdf80b95b4dce06
Due: none

Consume ensure-bazelisk role from upstream zuul
  roles/ensure-bazelisk/README.rst
  roles/ensure-bazelisk/defaults/main.yaml
  roles/ensure-bazelisk/tasks/main.yaml
  zuul.d/project.yaml
  zuul.d/test-jobs.yaml
Due: test-ensure-bazelisk, test-gerrit-setup, test-gerrit-plugin-build, test-gerrit-build-master, test-gerrit-build-stable-3.10, test-gerrit-build-stable-3.11, test-gerrit-build-stable-3.12

Path conditions:
  test-ensure-bazelisk: any of: roles/ensure-bazelisk/.*, playbooks/test-ensure-bazelisk.yaml
  test-install-build-essential: any of: roles/install-build-essential/.*, playbooks/test-install-build-essential.yaml
  test-gerrit-setup: any of: roles/ensure-bazelisk/.*, roles/ensure-java/.*, roles/prepare-gerrit-repos/.*, roles/install-build-essential/.*, playbooks/test-gerrit-setup.yaml
  test-gerrit-plugin-build: any of: roles/ensure-bazelisk/.*, roles/bazelisk-build/.*, roles/prepare-gerrit-repos/.*, roles/copy-plugin-deps/.*, playbooks/gerrit-plugin/build.yaml
  test-gerrit-build-master: any of: roles/ensure-bazelisk/.*, roles/bazelisk-build/.*, roles/prepare-gerrit-repos/.*, roles/copy-plugin-deps/.*, playbooks/gerrit/.*
  test-gerrit-build-stable-3.10: any of: roles/ensure-bazelisk/.*, roles/bazelisk-build/.*, roles/prepare-gerrit-repos/.*, roles/copy-plugin-deps/.*, playbooks/gerrit/.*
  test-gerrit-build-stable-3.11: any of: roles/ensure-bazelisk/.*, roles/bazelisk-build/.*, roles/prepare-gerrit-repos/.*, roles/copy-plugin-deps/.*, playbooks/gerrit/.*
  test-gerrit-build-stable-3.12: any of: roles/ensure-bazelisk/.*, roles/bazelisk-build/.*, roles/prepare-gerrit-repos/.*, roles/copy-plugin-deps/.*, playbooks/gerrit/.*
  test-gitiles-build-master: any of: playbooks/gitiles/.*
