Repository GerritCodeReview/zuul_jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: test-ensure-bazelisk, test-install-build-essential, test-gerrit-setup, test-gerrit-plugin-build, test-gerrit-build-master, test-gerrit-build-stable-3.5, test-gerrit-build-stable-3.6, test-gerrit-build-stable-3.7, test-gerrit-build-stable-3.8, test-gerrit-build-stable-3.9, test-gitiles-build-master

zuul.d/test-jobs.yaml:

# Jobs used for testing roles in this repository

- job:
    name: test-ensure-bazelisk
    run: playbooks/test-ensure-bazelisk.yaml
    files:
      - roles/ensure-bazelisk/.*
      - playbooks/test-ensure-bazelisk.yaml

- job:
    name: test-install-build-essential
    run: playbooks/test-install-build-essential.yaml
    files:
      - roles/install-build-essential/.*
      - playbooks/test-install-build-essential.yaml

- job:
    name: test-gerrit-setup
    parent: gerrit-setup
    run: playbooks/test-gerrit-setup.yaml
    required-projects:
      - java-prettify
      - jgit
      - plugins/codemirror-editor
      - plugins/commit-message-length-validator
      - plugins/delete-project
      - plugins/download-commands
      - plugins/gitiles
      - plugins/hooks
      - plugins/plugin-manager
      - plugins/replication
      - plugins/reviewnotes
      - plugins/singleusergroup
      - plugins/webhooks
      - polymer-bridges
    files:
      - roles/ensure-bazelisk/.*
      - roles/ensure-java/.*
      - roles/prepare-gerrit-repos/.*
      - roles/install-build-essential/.*
      - playbooks/test-gerrit-setup.yaml

- job:
    name: test-gerrit-plugin-build
    parent: gerrit-plugin-build
    required-projects:
      - plugins/gitiles
    vars:
      gerrit_plugin: gitiles
    files:
      - roles/ensure-bazelisk/.*
      - roles/bazelisk-build/.*
      - roles/prepare-gerrit-repos/.*
      - roles/copy-plugin-deps/.*
      - playbooks/gerrit-plugin/build.yaml

- job:
    name: test-gerrit-build-master
    parent: gerrit-build
    files:
      - roles/ensure-bazelisk/.*
      - roles/bazelisk-build/.*
      - roles/prepare-gerrit-repos/.*
      - roles/copy-plugin-deps/.*
      - playbooks/gerrit/.*

# TODO remove unsupported stable gerrit builds.
- job:
    name: test-gerrit-build-stable-3.5
    parent: test-gerrit-build-master
    override-checkout: stable-3.5

- job:
    name: test-gerrit-build-stable-3.6
    parent: test-gerrit-build-master
    override-checkout: stable-3.6

- job:
    name: test-gerrit-build-stable-3.7
    parent: test-gerrit-build-master
    override-checkout: stable-3.7

- job:
    name: test-gerrit-build-stable-3.8
    parent: test-gerrit-build-master
    override-checkout: stable-3.8

- job:
    name: test-gerrit-build-stable-3.9
    parent: test-gerrit-build-master
    override-checkout: stable-3.9

- job:
    name: test-gitiles-build-master
    parent: gitiles-build
    files:
      - playbooks/gitiles/.*

Insert check zuul-check:zuul_jobs
  a2affb886addd0586995783f988b604e2d9f0c78
Due: none

gitiles: Use java 17 to build
  playbooks/gitiles/pre-build.yaml
Due: test-gitiles-build-master

Update check zuul-check:zuul_jobs
  a2affb886addd0586995783f988b604e2d9f0c78
Due: none

Insert check zuul-check:zuul_jobs
  8350c8cae2885db409e74e37e1bf9b19b631e638
Due: none

Update check zuul-check:zuul_jobs
  8350c8cae2885db409e74e37e1bf9b19b631e638
Due: none

Update patch set 2
  8350c8cae2885db409e74e37e1bf9b19b631e638
Due: none

Consume ensure-bazelisk role from upstream zuul
  roles/ensure-bazelisk/README.rst
  roles/ensure-bazelisk/defaults/main.yaml
  roles/ensure-bazelisk/tasks/main.yaml
  zuul.d/project.yaml
  zuul.d/test-jobs.yaml
Due: test-ensure-bazelisk, test-gerrit-setup, test-gerrit-plugin-build, test-gerrit-build-master, test-gerrit-build-stable-3.5, test-gerrit-build-stable-3.6, test-gerrit-build-stable-3.7, test-gerrit-build-stable-3.8, test-gerrit-build-stable-3.9

Update patch set 5
  72daf2047fac8d335e35f8dd5446a3ec69daff80
Due: none

Insert check zuul-check:zuul_jobs
  72daf2047fac8d335e35f8dd5446a3ec69daff80
Due: none

Update check zuul-check:zuul_jobs
  72daf2047fac8d335e35f8dd5446a3ec69daff80
Due: none

Insert check zuul-check:zuul_jobs
  56f1d4bcaf1ee1c54f54029f1bd350ffa172bf2f
Due: none

Update check zuul-check:zuul_jobs
  56f1d4bcaf1ee1c54f54029f1bd350ffa172bf2f
Due: none

Update bazelisk to v1.11.0
  roles/ensure-bazelisk/defaults/main.yaml
  roles/ensure-bazelisk/tasks/main.yaml
Due: test-ensure-bazelisk, test-gerrit-setup, test-gerrit-plugin-build, test-gerrit-build-master, test-gerrit-build-stable-3.5, test-gerrit-build-stable-3.6, test-gerrit-build-stable-3.7, test-gerrit-build-stable-3.8, test-gerrit-build-stable-3.9

Insert check zuul-check:zuul_jobs
  90a4bcdd631d6941a6aae9886e109a8e2b63f5ea
Due: none

Update check zuul-check:zuul_jobs
  90a4bcdd631d6941a6aae9886e109a8e2b63f5ea
Due: none
